<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Login Google and Facebook
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <div class="buttonsContainer">
    <ion-button expand="block" color="danger" (click)="loginGoogle()"> 
      <ion-icon name="logo-google"></ion-icon>
      Iniciar Sesión con Google
    </ion-button>
    <div class="ion-margin-top"></div>
    <ion-button expand="block" color="primary" (click)="loginFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
      Iniciar Sesión con Facebook
    </ion-button>
  </div>
</ion-content>