<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Mis Posts
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 
  <ion-segment [(ngModel)]="selectedView">
    <ion-segment-button value="new">
      <ion-label>Nuevo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="myposts">
      <ion-label>Publicaciones</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'new'">
      <ion-item>
        <ion-label position="stacked">Introduce un título</ion-label>
        <ion-input [(ngModel)]="developer.name" placeholder="Título del post"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contenido</ion-label>
        <ion-input [(ngModel)]="developer.skills" placeholder="¿En qué estas pensando?"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Url de imagen</ion-label>
        <ion-input [(ngModel)]="developer.img" placeholder="https://..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Url de imagen2 (opcional)</ion-label>
        <ion-input [(ngModel)]="developer.img2" placeholder="https://..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Url de imagen3 (opcional)</ion-label>
        <ion-input [(ngModel)]="developer.img3" placeholder="https://..."></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addDeveloper()">Añadir Post!</ion-button>
    </div>
 
    <div *ngSwitchCase="'myposts'"> 
      <ion-item button *ngFor="let dev of developers" [routerLink]="['/', 'post', dev.id]">
        <ion-card>
            <ion-card-header>
                <img [src]="dev.img"/>
                <ion-card-subtitle>{{ dev.fecha }}</ion-card-subtitle>
                <ion-card-title>{{ dev.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{ dev.skills }}</ion-card-content>
        </ion-card>
      </ion-item>
    </div>
  </div>
 
</ion-content>